form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-left: 4%;
  }
  
  input[type="text"],
  textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  input[type="text"]:focus,
  textarea:focus {
    outline: none;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  input[type="date"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  button[type="submit"] {
    padding: 10px;
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background-color: #008CBA;
    border: none;
    margin-left: 4%;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #006080;
    margin-left: 4%;
  }
  